.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    background: #EFEFEF;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

ul,ol {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid grey;
}

.topNavBar {
    /*padding-top: 20px; 上右下左*/
    /*padding-bottom: 20px;*/
    /*padding-right: 16px;*/
    /*padding-left: 16px;*/
    padding: 20px 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    color: whitesmoke;
}

.topNavBar.sticky {
    background: white;
    padding: 4px 0;
    z-index: 1;
    box-shadow: 0 4px 13px 0 rgba(0,0,0,0.3);
    color: #3d4451;
}

.topNavBar-inner {
    margin-left: 16px;
    margin-right: 16px;
}

.topNavBar nav {
    padding-top: 4px;
    padding-bottom: 3px;
}
.topNavBar nav > ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.topNavBar nav > ul > li {
    float:left;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar nav > ul > li > a {
    font-size: 14px;
    color: inherit;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
}

.topNavBar nav > ul > li > a:hover {
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Microsoft New Tai Lue";
    padding-top: 6px;
    padding-bottom: 7px;
    font-weight: bold;
}


.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686A;
}

.topNavBar .logo .card {
    color: #9A9DA2;
}

.banner {
    height: 515px;
    background-image: url(./img/wow.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0,0,0,0.5);
}

.userCard {

    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 13px 0 rgba(0,0,0,0.3);
}

.userCard .welcome {
    background-color: #e06567;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    position: relative;
    margin-bottom: 10px;
}

.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0;
    border-left-color: #e6686A;
    border-top-width: 0;
    position: absolute;
    left: 6px;
    top: 100%;
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    margin-left: 65px;
    width: 460px;

}

.userCard .pictureAndText {
    padding: 50px;
}

.userCard .text h1 {
    margin-top: 18px;
}

.userCard .text hr {
    margin: 20px 0;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 6px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9A9DA2;
}

.userCard .media {

    background: #e6686A;
    text-align: center;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

.userCard > footer > a {
    display: inline-block;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 0 16px;
}

.userCard > footer > a:hover {
    background: #CF505F;
}

body > main {
    margin-top: -380px;
}

body > main .downloadResumeWrapper {
    text-align: center;
}
body > main .downloadResume {
    border: 1px solid #CDCFD1;
    background: #EFEFEF;
    padding: 16px 36px;
    margin: 32px 0px;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}

body > main .downloadResume:hover {
    transition: box-shadow 0.4s;
    box-shadow: 0 4px 13px 0 rgba(0,0,0,0.5);
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 18px;
}

section.skills,
section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.skills > h2,
section.portfolio > h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills > ol {
    box-shadow: 0 4px 13px 0 rgba(0,0,0,0.2);
    background: white;
    padding: 42px 50px 10px;
    margin-top: 30px;
}

section.skills > ol > li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

section.skills > ol > li:nth-child(even) {
    float: right;

}

section.skills .progressBar {
    background: #FAE1E1;
    height: 5px;
    border-radius: 2px;
    margin: 4px 0 40px;

}

section.skills .progressBar .progress {
    height: 100%;
    background: #e6686A;
    width: 50%;
    border-radius: 2px;

}

section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

section.portfolio {
    text-align: center;
}

section.portfolio > nav {
    text-align: center;
    margin-bottom: 60px;
}

section.portfolio > nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 34px;
}

section.portfolio > nav > ol {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

section.portfolio > nav > ol > li {
    float: left;
    margin-left: 40px;
    cursor: pointer;/*手型鼠标*/
}

section.portfolio > nav > ol > li:nth-child(1) {
    margin-left: 0;
}

section.portfolio > nav .bar {

    height: 5px;
    background: white;
    margin-top: 10px;
    border-radius: 2px;
}

section.portfolio > nav .bar-inner {

    height: 100%;
    background: #e6686A;
    /*width: 30%;*/
    border-radius: 2px;
    /*margin-left: 140px;*/
    transition: all 0.3s;
}

section.portfolio > nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

section.portfolio > nav .bar.state-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

section.portfolio > nav .bar.state-3 .bar-inner {
    margin-left: 150px;
    width: 50px;
}

section.portfolio .works {
    position:relative;
}

section.portfolio .works .big,
section.portfolio .works .small {
    position: absolute;
}

.loadingPage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: gray;
    justify-content: center;
    align-items: center;

}
.loadingPage.active {
    display: flex;
}