#postMessageForm {
    width: 600px;
    height: 400px;
    /*margin-bottom: 400px;*/
    margin-left: 408px;

}

section.message h2 {
    text-align: center;
}

section.message > ol {
    /*border: 1px solid red;*/
    max-width: 700px;
    margin: 0 auto;
}

section.message > ol > li {
    padding: 10px 0;
    margin-top: 10px;
    background: #CDCFD1;

}